body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ff5a00;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    margin: 0;
   
}
.header-container{
    justify-content: space-between;
}
.up{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
  
  
   
}
.up h1{
    font-size: 30px;
}
.discount{
    text-transform: uppercase;
    background-color: plum;
    padding: 10px 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 28px;
}
.discount:hover{
    background-color: orangered;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 0;
}

.header-container input {
    padding: 10px;
    width: 300px;
    border-radius: 18px;
    border: none;
    margin: 10px 0;
    text-align: center;
}

.cart img {
    width: 30px;
    height: auto;
}

.hero-banner img {
    width: 100%;
    height: auto;
}

.product-section {
    padding: 20px;
    text-align: center;
    margin-bottom: 70px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 30%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card button {
    background-color: #ff5a00;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #e04d00;
}

@media screen and(max-width:600px) 
{
    .up{
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
}